aiohttp
discord.py
discord
flask
flask-login
flask-session
jishaku
motor
pymongo
python-dotenv
pytz
sentry-sdk
waitress
requests
requests-oauthlib
python-decouple
roblox
fastapi
uvicorn
markdown
google-api-python-client
PyNaCl==1.5.0
cffi
httpx
httpcore
yarl
frozenlist
attrs
sniffio
typing-extensions
